.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

dist/
*.egg-info/
logs/
artifacts/
data/raw/
data/processed/
models/checkpoints/
.env
*.h5
*.pt
*.pkl
*.joblib
*.wav
*.mp4
*.avi
*.mov
*.zip
data/